.btn-login {
  width: 288px;
}
.mainpage-small-box {
  -webkit-transition: all 750ms ease; 
  -moz-transition: all 750ms ease; 
  -ms-transition: all 750ms ease; 
  -o-transition: all 750ms ease; 
  transition: all 750ms ease;
}
.content_box.extrabox_3 {
  padding-top: 0 !important;
}
.content_box.extrabox2 {
  padding-bottom: 0 !important;
}
.from-the-blog-transition {
  -webkit-transition: all 650ms ease; 
  -moz-transition: all 650ms ease; 
  -ms-transition: all 650ms ease; 
  -o-transition: all 650ms ease; 
  transition: all 650ms ease;
}
#content {
  padding-left: 50px;
}
