{% extends 'AppBundle:Layout:site.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fullbody %}
  {% block fos_user_content %}
    {% if error %}
      <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="span4 offset4">
          <div class="login-panel panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{ 'security.login.submit'|trans }}</h3>
            </div>
            <div class="panel-body">
              <form role="form" action="{{ path("fos_user_security_check") }}" method="post">
                <fieldset>
                  <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                  <div class="form-group">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input class="form-control" placeholder="Username" id="username" name="_username" type="text" value="{{ last_username }}" required="required" autofocus>
                  </div>
                  <div class="form-group">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input class="form-control" placeholder="Password" id="password" name="_password" type="password" value="" required="required">
                  </div>
                  <div class="checkbox">
                    <label>
                      <input id="remember_me" name="_remember_me" type="checkbox" value="on">
                      <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </label>
                  </div>
                  <!-- Change this to a button or input when using this as a form -->
                  <div class="form-group">
                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-login  btn-lg btn-success btn-block" />
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock fos_user_content %}
{% endblock fullbody %}
