.user-menu-title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  font-weight: bold;
  padding: 0 !important;
  display: block;
  width: 100%;
  height: 100%;
}
.user-menu-title:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  cursor: pointer;
}
