<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en-US"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en-US"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en-US"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en-US"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en-US"> <!--<![endif]-->
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content=" | "/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" media="all"        href={{ asset('/css/bootstrap.css') }} />
    <link rel="stylesheet" type="text/css" media="all"        href={{ asset('/css/responsive.css') }} />
    <link rel="stylesheet" type="text/css" media="all"        href={{ asset('/css/camera.css') }} />
    <link rel="stylesheet" type="text/css" media="all"        href={{ asset('/css/style.css') }} />
    <link rel='stylesheet' id='flexslider-css'                href={{ asset('/css/flexslider.css') }} type='text/css' media='all'/>
    <link rel='stylesheet' id='owl-carousel-css'              href={{ asset('/css/owl.carousel.css') }} type='text/css' media='all'/>
    <link rel='stylesheet' id='owl-theme-css'                 href={{ asset('/css/owl.theme.css') }} type='text/css' media='all'/>
    <link rel='stylesheet' id='font-awesome-css'              href={{ asset('/css/font-awesome.css') }} type='text/css' media='all'/>
    <link rel='stylesheet' id='cherry-plugin-css'             href={{ asset('/css/cherry-plugin.css') }} type='text/css' media='all'/>
    <link rel='stylesheet' id='cherry-lazy-load-css'          href={{ asset('/css/lazy-load.css') }} type='text/css' media='all'/>
    <link rel='stylesheet' id='cherry-parallax-css'           href={{ asset('/css/parallax.css') }} type='text/css' media='all'/>
    <link rel='stylesheet' id='contact-form-7-css'            href={{ asset('/css/styles.css') }} type='text/css' media='all'/>
    <link rel='stylesheet' id='theme53984-css'                href={{ asset('/css/main-style.css') }} type='text/css' media='all'/>
    <link rel='stylesheet' id='magnific-popup-css'            href={{ asset('/css/magnific-popup.css') }} type='text/css' media='all'/>
    <link rel='stylesheet' id='magnific-popup-css'            href={{ asset('/css/site.css') }} type='text/css' media='all'/>
    <link rel='stylesheet' id='options_typography_Ubuntu-css' href='//fonts.googleapis.com/css?family=Ubuntu&#038;subset=latin' type='text/css' media='all'/>
{% endblock stylesheets %}

{% block javascripts %}
    <script type='text/javascript' src="{{ asset('/js/jquery-1.7.2.min.js')               }}"></script>
    <script type='text/javascript' src="{{ asset('/js/jquery.easing.1.3.js')              }}"></script>
    <script type='text/javascript' src="{{ asset('/js/jquery.elastislide.js')             }}"></script>
    <script type='text/javascript' src="{{ asset('/js/wideboxes.js')                      }}"></script>
    <script type='text/javascript' src="{{ asset('/js/jquery-migrate-1.2.1.min.js')       }}"></script>
    <script type='text/javascript' src="{{ asset('/js/swfobject.js')                      }}"></script>
    <script type='text/javascript' src="{{ asset('/js/modernizr.js')                      }}"></script>
    <script type='text/javascript' src="{{ asset('/js/jflickrfeed.js')                    }}"></script>
    <script type='text/javascript' src="{{ asset('/js/custom.js')                         }}"></script>
    <script type='text/javascript' src="{{ asset('/js/bootstrap.min.js')                  }}"></script>
    <script type="text/javascript" src="{{ asset('/js/jquery.mobile.customized.min.js')   }}"></script>
    <script type='text/javascript' src="{{ asset('/js/comment-reply.min.js')              }}"></script>
    <script type='text/javascript' src="{{ asset('js/jquery.flexslider-min.js')           }}"></script>
    <script type='text/javascript' src="{{ asset('/js/cherry-plugin.js')                  }}"></script>
    <script type='text/javascript' src="{{ asset('/js/cherry.lazy-load.js')               }}"></script>
    <script type='text/javascript' src="{{ asset('/js/device.min.js')                     }}"></script>
    <script type='text/javascript' src="{{ asset('/js/jquery.mousewheel.min.js')          }}"></script>
    <script type='text/javascript' src="{{ asset('/js/jquery.simplr.smoothscroll.min.js') }}"></script>
    <script type='text/javascript' src="{{ asset('/js/cherry.parallax.js')                }}"></script>
    <script type='text/javascript' src="{{ asset('/js/jquery.form.min.js')                }}"></script>
    <script type='text/javascript' src="{{ asset('/js/scripts.js')                        }}"></script>
    <script type='text/javascript' src="{{ asset('/js/cherryIsotopeView.js')              }}"></script>
    <script type='text/javascript' src="{{ asset('/js/superfish.js')                      }}"></script>
    <script type='text/javascript' src="{{ asset('/js/jquery.mobilemenu.js')              }}"></script>
    <script type='text/javascript' src="{{ asset('/js/jquery.magnific-popup.min.js')      }}"></script>
    <script type='text/javascript' src="{{ asset('/js/jplayer.playlist.min.js')           }}"></script>
    <script type='text/javascript' src="{{ asset('/js/jquery.jplayer.min.js')             }}"></script>
    <script type='text/javascript' src="{{ asset('/js/tmstickup.js')                      }}"></script>
    <script type='text/javascript' src="{{ asset('/js/device.min.js')                     }}"></script>
    <script type='text/javascript' src="{{ asset('/js/jquery.zaccordion.min.js')          }}"></script>
    <script type='text/javascript' src="{{ asset('/js/camera.min.js')                     }}"></script>
    <script type='text/javascript' src="{{ asset('/js/jquery.debouncedresize.js')         }}"></script>
    <script type='text/javascript' src="{{ asset('/js/jquery.ba-resize.min.js')           }}"></script>
    <script type='text/javascript' src="{{ asset('/js/jquery.isotope.js')                 }}"></script>
    <script type='text/javascript' src="{{ asset('/js/parallaxSlider.js')                 }}"></script>

    <script type='text/javascript' src='//maps.googleapis.com/maps/api/js?v=3.exp&#038;sensor=false&#038;ver=4.1.10'></script>
    <script type="text/javascript" src="{{ asset("/js/site.js") }}" defer="defer"></script>
{% endblock javascripts %}
  </head>
  <body class="home page page-id-203 page-template page-template-page-home page-template-page-home-php olrk-live-chat">
    {% block fullbody %}
    <div id="motopress-main" class="main-holder">

      {{ render(controller('AppBundle:Default:Header')) }}
{% block body %}
{% endblock body %}
      {{ render(controller('AppBundle:Default:Footer')) }}

    </div>

    <div id="back-top-wrapper" class="visible-desktop">
      <p id="back-top">
        <a href="#top"><span></span></a> </p>
    </div>
    {% endblock fullbody %}
  </body>
</html>
