{% if items|length %}
<section class="lazy-load-box trigger effect-slidefromleft from-the-blog-transition" data-delay="0" data-speed="650">
  <h2>From the blog</h2>
</section>
<section class="lazy-load-box trigger effect-slidefromright from-the-blog-transition" data-delay="100" data-speed="650">
  <ul class="posts-grid row-fluid unstyled extragrid_1 ul-item-0">
{% for item in items %}
    <li class="span4 list-item-1">
      <figure class="featured-thumbnail thumbnail">
        <a href="{{ url('app_blogpost', {slug: item.slug}) }}" rel="prettyPhoto-2039596484" title="{{ item.title }}">
          <img alt="{{ item.title }}" src="{{ images_path~'/'~item.image }}">
          <span class="zoom-icon"></span>
        </a>
      </figure>
      <div class="clear"></div>
      <h5><a href="{{ url('app_blogpost', {slug: item.slug}) }}" title="{{ item.title }}">{{ item.title }}</a></h5>
      <p class="excerpt">{{ item.lead|raw }}&hellip;</p>
      <div class="post_meta">
        <span class="post_date">
          <time datetime="{{ item.display_date|date('c') }}">{{ item.display_date|date('d/m/Y') }}</time>
        </span>
      </div>
    </li>
{% endfor %}
  </ul>
</section>
{% endif %}
