<footer class="motopress-wrapper footer">
  <div class="container">
    <div class="row">
      <div class="span12" data-motopress-wrapper-file="wrapper/wrapper-footer.php" data-motopress-wrapper-type="footer" data-motopress-id="570e0b6be787e">
        <div class="extrafooter">
          <div class="row footer-widgets">
            <div class="span6" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-1">
              <div id="text-5" class="visible-all-devices ">
                <h4>About</h4>
                <div class="textwidget">
                  {{ render(controller('AppBundle:Default:Contentbox', {zone: 'mainpage_about_us'})) }}
                </div>
              </div>
            </div>
            <div class="span1">
            </div>
            <div class="span5" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-3">
              <div class="extramargin1">
                <div id="my_facebook_widget-2">
                  <h4>Facebook</h4>
                  <div class="facebook_like_box">
                    <div id="fb-root"></div>
                    <script>
                      (function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id))
                          return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                        fjs.parentNode.insertBefore(js, fjs);
                      }(document, 'script', 'facebook-jssdk'));
                    </script>
                    <div style="overflow:hidden;" class="fb-like-box " data-href="www.facebook.com/TemplateMonster" data-width="100%" data-height="100%" data-show-faces="true" data-stream="false" data-show-border="false" data-header="false"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <div>
              <div id="footer-text" class="footer-text">
                <a href="#" title="" class="site-name"><span>industrial</span></a> &copy; 2016 &bull;
                <a href="#" class="privacytxt" title="Privacy Policy">Privacy Policy</a>

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span12">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>