<header class="motopress-wrapper header">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="head_holder">
          <div class="row">
            <div class="span4">
              <div class="logo pull-left">
                <a href="{{ url('app_homepage') }}" class="logo_h logo_h__img"><img src="{{ asset('/images/logo.png') }}" alt="E-Waste recycling" title=""></a>
              </div>
            </div>
            <div class="span8">
              <div class="header_block1">
                <div id="text-6">
                  <div class="textwidget">
                    <p class="extraphone">{{ render(controller('AppBundle:Default:Contentbox', {zone: 'mainpage_phone', raw: true})) }}</p>
                    <span></span>
                    <p class="extraddress">{{ render(controller('AppBundle:Default:Contentbox', {zone: 'mainpage_address', raw: true})) }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="menu_holder">
          <div class="row">
            <div class="span9">
              <nav class="nav nav__primary clearfix">
                <ul id="topnav" class="sf-menu">
{% for item in menuitems %}
                  <li id="menu-item-{{ item.id }}" class="menu-item menu-item-type-post_type menu-item-object-page page_item">
  {% if item.module.title == 'Homepage' %}
    {% set url = url('app_homepage') %}
  {% else %}
    {% set url = url('app_default_module', { prefix: item.slug }) %}
  {% endif %}
                    <a href="{{ url }}">{{ item.title }}</a>
  {% if item.children|length %}
                    <ul class="sub-menu">
    {% for subitem in item.children %}
      {% set url = url('app_default_module', { prefix: item.slug, subprefix: subitem.slug }) %}
                      <li id="menu-item-{{ subitem.id }}" class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="{{ url }}">{{ subitem.title }}</a>
                      </li>
    {% endfor %}
                    </ul>
  {% endif %}
                  </li>
{% endfor %}
                </ul>
              </nav>
            </div>
            <div class="span3">
              <div class="header_block2">
                <div class="hidden-phone extraphone">
                  <div class="extraphone2"></div>
                </div>
                <div class="social-nets-wrapper">
                  <ul class="social">
                    <li>
                      <a href="#" title="facebook">
                        <i class="icon-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" title="google">
                        <i class="icon-google-plus"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" title="rss">
                        <i class="icon-rss"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" title="pinterest">
                        <i class="icon-pinterest"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" title="linkedin">
                        <i class="icon-linkedin"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
