{% extends 'AppBundle:Layout:site.html.twig' %}

{% block body %}
  {{ render(controller('AppBundle:Default:Slider')) }}
  <div class="motopress-wrapper content-holder clearfix">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="row">
            <div class="span12">
              <div class="slider_off"> </div>
            </div>
          </div>
          <div class="row">
            <div class="span12" data-motopress-type="loop" data-motopress-loop-file="loop/loop-page.php">
              <div id="post-203" class="post-203 page type-page status-publish hentry">
                <div class="content_box extrabox_1 ">
                  {{ render(controller('AppBundle:Default:Latest')) }}
                  {{ render(controller('AppBundle:Default:Projects')) }}
                  <div class="clear"></div>
                </div> 
                <div class="content_box extrabox2 ">
                  {{ render(controller('AppBundle:Default:Blog')) }}
                  <div class="clear"></div>
                </div> 
                <div class="content_box extrabox_3 ">
                  <div class="row ">
                    <div class="span12">
                      <section class="lazy-load-box trigger effect-slidefromleft from-the-blog-transition" data-delay="100" data-speed="650">
                        <h2 style="text-align: left;">Why us</h2>
                        {{ render(controller('AppBundle:Default:Contentbox', {zone: 'mainpage_why_us'})) }}
                      </section>
                    </div>
                  </div> 
                  <div class="clear"></div></div> 
                <div class="content_box extrabox_4">
                  <h2>Contact us</h2>
                  <div class="wpcf7" id="wpcf7-f2003-p203-o1">
                    <div class="screen-reader-response"></div>
                    <form action="/wordpress_53984/#wpcf7-f2003-p203-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                      <div style="display: none;">
                        <input type="hidden" name="_wpcf7" value="2003"/>
                        <input type="hidden" name="_wpcf7_version" value="3.8"/>
                        <input type="hidden" name="_wpcf7_locale" value="en_US"/>
                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f2003-p203-o1"/>
                        <input type="hidden" name="_wpnonce" value="c5d7825623"/>
                      </div>
                      <div class="row-fluid">
                        <div class="span6">
                          <p class="field"><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name"/></span> </p>
                          <p class="field"><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email"/></span> </p>
                          <p class="field"><span class="wpcf7-form-control-wrap your-phone"><input type="text" name="your-phone" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Phone"/></span> </p>
                        </div>
                        <div class="span6">
                          <p class="field"><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Message"></textarea></span> </p>
                        </div>
                      </div>
                      <div class="wrapperbuttons">
                        <p class="submit-wrap"><input type="reset" value="Clear" class="btn btn-primary"/></p>
                        <p class="submit-wrap"><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit btn btn-primary"/></p>
                      </div>
                      <div class="wpcf7-response-output wpcf7-display-none"></div></form></div>
                  <div class="clear"></div></div> 
                <div class="clear"></div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}