{% macro box(item, index) %}
  {% set slide_class = index is even ? 'effect-slidefromright' : 'effect-slidefromleft' %}
<section class="lazy-load-box mainpage-small-box trigger {{ slide_class }}" data-delay="0" data-speed="750">
  <div class="banner-wrap extrabanner_1">
    <figure class="featured-thumbnail">
      <a href="{{ url('app_newsarticle', {slug: item.slug}) }}" title="{{ item.title }}">
        <img src="{{ images_path~'/'~item.smallImage }}" title="{{ item.title }}" alt="{{ item.title }}"/>
      </a>
    </figure>
    <h5><a href="{{ url('app_newsarticle', {slug: item.slug}) }}">{{ item.title }}</a></h5>
    <p>{{ item.lead|shortenText(15)|raw }}</p>
  </div> 
</section>
{% endmacro %}

{% import _self as boxes %}

{% if items|length >= 4 %}
<div class="extra-wrap line_center_bottom">
  {{ boxes.box(items[0], 1) }}
  {{ boxes.box(items[1], 2) }}
</div>
<div class="extra-wrap line_center">
  {{ boxes.box(items[2], 3) }}
  {{ boxes.box(items[3], 4) }}
</div>
{% endif %}
