{% extends 'AppBundle:Layout:site.html.twig' %}

{% block body %}
<div class="container">
  <div class="span12">
    <div class="row">
      <div class="span8">
  {% for item in items %}
        <article class="post-{{ item.id }} post type-post status-publish format-standard has-post-thumbnail hentry category-aenean-nec-eros-vestibulum-ante-ipspri category-uncategorized tag-elit tag-ipsum-dolor tag-lorem post__holder cat-35-id cat-1-id" id="post-1910">
          <header class="post-header">
            <h2 class="post-title">
              <a href="{{ url(route, {slug: item.slug}) }}" title="{{ item.title }}">{{ item.title }}</a>
            </h2>
          </header>
          <figure class="featured-thumbnail thumbnail large">
            <a href="{{ url(route, {slug: item.slug}) }}" title="{{ item.title }}">
              <img alt="{{ item.title }}" src="{{ images_path~'/'~item.image }}" style="display: inline;"></a>
          </figure>
          <div class="post_content">
            <div class="excerpt">
              {{ item.lead|raw }}
            </div>
            <a class="btn btn-primary" href="{{ url(route, {slug: item.slug}) }}">Read more</a>
            <div class="clear"></div>
          </div>
        </article>
  {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock body %}