{% extends 'AppBundle:Layout:site.html.twig' %}
{% block body %}
<div class="row" id="content">
  <div class="span12">
    <div class="page type-page status-publish hentry">
      <div class="content_box extrabox_5">
        <h2>{{ page.title }}</h2>
        <div class="row">
          <div class="span12">{{ page.content|raw }}</div>
        </div>
    </div>
  </div>
</div>
{% endblock body %}
