{% if items|length %}
<h2>Our projects</h2>
<div class="isotopeview-shortcode fullwidth-object type-2" id="isotopeview-shortcode-570e0b6b80e41">
  <div class="isotopeview_filter_buttons">
    <div class="filter_button current-category" data-filter="*">
      All projects
    </div>
    <div class="filter_button" data-filter="category-0">
      Coming soon
    </div>
    <div class="filter_button" data-filter="category-2">
      Completed
    </div>
    <div class="filter_button" data-filter="category-1">
      In progress
    </div>
  </div>
  <div class="isotopeview_wrapper" data-columns="3">
{% for item in items %}
    <div class="isotopeview-item isotopeview-item-1 category-{{ item.status }}">
      <figure class="thumbnail">
        <a href="{{ url('app_projectarticle', {slug: item.slug}) }}" rel="prettyPhoto[gallery1]" title="{{ item.title }}">
          <img alt="{{ item.title }}" src="{{ images_path~'/'~item.smallImage }}">
        </a>
      </figure>
      <div class="extraisobox">
        <div class="isotopeview-item-content">
          <h5><a href="{{ url('app_projectarticle', {slug: item.slug}) }}" title="{{ item.title }}">{{ item.title }}</a></h5>
          <p class="excerpt">{{ item.lead|shortenText(5)|raw }}</p>
          <span class="isotop_hover"></span>
        </div>
        <div class="extrahelper"></div>
      </div>
    </div>
{% endfor %}
  </div>
</div>
{% endif %}
