{% if items|length %}
<div id="parallax-slider-570e0b6b2f3c3" class="parallax-slider">
  <ul class="baseList">
  {% for item in items %}
    <li data-preview="{{ images_path~'/'~item.largeImage }}" data-ulr-link="{{ url('app_newsarticle', {slug: item.slug}) }}">
      <div class="slider_caption">
        <h2>{{ item.title }}</h2>
        <p>{{ item.lead|raw }}</p>
        <a href="{{ url('app_newsarticle', {slug: item.slug}) }}" class="extrabutton_1">more</a>
      </div>
    </li>
  {% endfor %}
  </ul>
</div>
{% endif %}
