{% if item != null %}
  {% if raw == true %}
    {{ item.content|striptags|raw }}
  {% else %}
    <span class="textcontent textcontent-{{ item.zone }}">{{ item.content|raw }}</span>
  {% endif %}
{% endif %}